﻿@page "/"

<div>
	<h1>Some text for test</h1>
</div>

<AuthorizeView Roles="Iron Man">
	<Authorized>
		<h1>Authorized as @context.User.Identity.Name</h1>
	</Authorized>
	<NotAuthorized>
		<h1>Not authorized</h1>
	</NotAuthorized>
</AuthorizeView>