﻿@page "/login"

<h3>Login</h3>

<EditForm Model="_user" OnSubmit="HandleLogin">
	<label for="username">Name</label>
	<InputText id="username" @bind-Value="_user.Username" />
	<label for="password">Password</label>
	<InputText id="password" @bind-Value="_user.Password" type="password" />
	<button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {

	[Inject]
	private ILocalStorageService _localStorage { get; set; } = default!;
	[Inject]
	private AuthController _authController { get; set; } = default!;
	[Inject]
	private AuthenticationStateProvider _authentication { get; set; } = default!;

	private UserLoginDto _user = new();

	private async Task HandleLogin()
	{
		var token = await _authController.Login(_user);
		await _localStorage.SetItemAsync("token", token);
		await _authentication.GetAuthenticationStateAsync();
	}
}
