﻿<AuthorizeView>
	<Authorized>
		<button class="btn btn-danger" @onclick="Logout">Logout</button>
	</Authorized>
	<NotAuthorized>
		<button class="btn btn-primary" @onclick="Login">Login</button>
	</NotAuthorized>
</AuthorizeView>

@code {

	[Inject]
	private NavigationManager _navigationManager { get; set; } = default!;
	[Inject]
	private ILocalStorageService _localStorage { get; set; } = default!;
	[Inject]
	private AuthenticationStateProvider _authStateProvider { get; set; } = default!;

	private void Login()
	{
		_navigationManager.NavigateTo("login");
	}

	private async Task Logout()
	{
		await _localStorage.RemoveItemAsync("token");
		await _authStateProvider.GetAuthenticationStateAsync();
	}
}
